* {
    background-color: #283618;
    color: #283618;
    text-align: center;
    font-size: 36px;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div div {
    background-color: #606C38;
    width: 80%;
    border: 3px solid #BC6C25;
}

#title {
    position: relative;
    top: 50%;
    font-size: 48px;
    width: fit-content;
    height: fit-content;
}

#central_column {
    align-items: center;
}

#row-01 {
    background-image: url("../img/las\ 1.jpg");
    min-height: 700px;
}

#row-02 {
    height: fit-content;
    background-color: #606C38;
}

#row-03 {
    background-image: url("../img/las\ 2.jpg");
    min-height: 700px;
}

#row-05 {
    background-image: url("../img/las\ 1.jpg");
    min-height: 700px;
}

#side-panel {
    position: fixed;
    width: fit-content;
    height: fit-content;
    left: 2%;
    top: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li button {
    background-color: #606C38;
    border-color: #BC6C25;
    color: #283618;
}

/*
Light green 606C38

Dark Green 283618

Light FEFAE0

Light brown DDA15E

Dark brown BC6C25

*/

